CREATOR_WALLET=
CREATOR_PRIVATE_KEY=
TOKEN_CA=
SOLANA_RPC=https://mainnet.helius-rpc.com/?api-key=6edd362e-7b0d-45cc-a606-ffa023bf7f2e
SOLANATRACKER_API_KEY=
FIREBASE_SERVICE_ACCOUNT_JSON=
JWT_SECRET=
ROUND_DURATION_MS=21600000
GAS_RESERVE_SOL=0.1
PORT=4000
